HELP.md
# Maven
target/
*.class

# Environment - NEVER commit this
.env

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
src/main/resources/application.properties

#configurations
.factorypath
.classpath
.project
.settings/  

